body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  color: var(--text-light);

  background:
    radial-gradient(circle at center, rgba(255, 140, 80, 0.2), transparent 60%),
    linear-gradient(to bottom, rgba(26, 11, 46, 0.8), rgba(26, 11, 46, 1));
}
header h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  padding: 24px 48px;
  margin: 0;
  color: var(--primary);
  float: left;  
}
header nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}
header nav a:hover {
  color: var(--primary);
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  float: right;
  padding: 24px 48px;
  margin: 0;
}




/* =====================
   PRAYER TIMES
===================== */

.prayer-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prayer-title {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
  color: var(--primary);
}

.prayer-times {
  list-style: none;
  width: 300px;
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}

.prayer-times li {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255,255,255,0.15)
}